/*  your css code here. If applicable */
#container {
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgrey;
}
h1{
	text-align:center;
}
.notification {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.notification img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}
img{
	width:100px;
}

.notification p {
  margin: 0;
  margin-left: 10px;
}

.notification p span.user {
  font-weight: bold;
}

.notification p span.time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-style: italic;
}

#view-more {
  margin-top: 10px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  background-color: #02203c;
  color: white;
}
